/* SASS */
/* Imports */
@import "helpers/_vars.scss";
@import "helpers/_mixins.scss";
@import "helpers/_fonts.scss";
@import "helpers/_spaces.scss";
@import "helpers/_classes.scss";
@import "reset.css";

/* --- Universal --- */
@import "compass";
$social-layout:vertical;
$social-sprite-dimensions:true;
@import "sprites/social/*.png";
@include all-social-sprites;

body { font-family: 'Anton', sans-serif; background-color: $fundo; }


//div[class^='grid_'] { background: #666;  }

::-moz-selection    { background:$fundo; color:#FF8F45; }
::selection         { background:$fundo; color:#FF8F45; }

//debug
//div[class^="grid_"] { background: rgba(188, 32, 50, .5); overflow: hidden; }

//fontes
h1      { color: $branco; }
h2      { color: $cinza; text-transform: lowercase; }
h3      { color: $cinza; text-transform: lowercase; }
ul li   { color: $cinza; font-size: 18px; }
a       { color: #FFF; }

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #000; 
    width: 100%;
}

#page {
    position: relative;
    aside#social {
        margin-top: 10px;
        ul {
            font-size: 16px; 
            li {
                display:inline-block; 
                a{
                    display:block;
                    position:relative;
                    text-decoration:none;
                }
            }
        }
    }
    address {
        margin-top: 10px;
        p {
            margin-bottom: 2%;
            font-size: 22px;
            color: $cinza;
        }
    }
}

.div404 {
    margin: 20px auto;
    width: 308px;
    text-align: center;
    a {
        display: block;
        img {
            border: solid 4px #FFF;
        }
    }
    p {
        margin: 20px 0;
        color: #FF8F45;
        font-size: 25px;
    }
}

em {
    color: #666;
}